#login-form-container{
    width : 300px;
    width : 300px;
    height: 30%;
    margin:auto;
    position: absolute;
}

#login-form
{
    margin : 20px;
}

#login-form .form-group
{
    margin-bottom: 20px;
}