#login-form-container{
    width : 400px;
    width : 400px;
    height: 30%;
    margin:auto;
    margin-top : 250px;
    vertical-align: center;
}

h1
{
    margin : auto;
    width:auto;
    display: table;
}


.form-container
{
    margin : 70px 20px 20px 20px;
    padding : 20px;
    border : 1px solid;
}

#login-form .form-group
{
    margin-bottom: 20px;
}