@media print {
  body {
    background-color: #fff !important;
  }

  .theme-panel {
    display: none;
  }

  .hidden-print {
    display: none;
  }

  .page-prefooter {
    display: none;
  }

  .page-footer {
    display: none;
  }

  .page-head {
    display: none;
  }

  .page-breadcrumb {
    display: none;
  }

  .no-page-break {
    page-break-after: avoid;
  }

  .page-container {
    margin: 0px !important;
    padding: 0px !important;
  }
  .page-container .page-content {
    padding: 0 !important;
    margin: 0 !important;
  }
  .page-container .page-content > .container {
    width: 100%;
    max-width: none !important;
    margin: 0 !important;
  }
  .page-container .page-content > .container > .portlet,
  .page-container .page-content > .container-fluid > .portlet {
    padding: 0;
    margin: 0;
  }
  .page-container .page-content > .container > .portlet > .portlet-body,
  .page-container .page-content > .container-fluid > .portlet > .portlet-body {
    padding: 0;
    margin: 0;
  }
}
/****
Boby
****/
body {
  background-color: #fff;
}

/******
General 
******/
/* Theme Font Color */
.theme-font {
  color: #4db3a4 !important;
}

/* Pace - Page Progress */
.pace .pace-progress {
  background: #4db3a4;
}

/* Theme Light Portlet */
.portlet.light .btn.btn-circle.btn-icon-only.btn-default {
  border-color: #bbc2ce;
}
.portlet.light .btn.btn-circle.btn-icon-only.btn-default > i {
  font-size: 13px;
  color: #a6b0bf;
}
.portlet.light .btn.btn-circle.btn-icon-only.btn-default:hover, .portlet.light .btn.btn-circle.btn-icon-only.btn-default.active {
  color: #fff;
  background: #4db3a4;
  border-color: #4db3a4;
}
.portlet.light .btn.btn-circle.btn-icon-only.btn-default:hover > i, .portlet.light .btn.btn-circle.btn-icon-only.btn-default.active > i {
  color: #fff;
}

/******
Page Footer 
******/
.page-prefooter {
  background: #48525e;
  color: #a2abb7;
}
.page-prefooter h2 {
  color: #4db3a4;
}
.page-prefooter .subscribe-form .form-control {
  background: #343b44;
  border-color: #343b44;
  color: #a2abb7;
}
.page-prefooter .subscribe-form .form-control::-moz-placeholder {
  color: #939eac;
  opacity: 1;
}
.page-prefooter .subscribe-form .form-control:-ms-input-placeholder {
  color: #939eac;
}
.page-prefooter .subscribe-form .form-control::-webkit-input-placeholder {
  color: #939eac;
}
.page-prefooter .subscribe-form .btn {
  color: #fff;
  background-color: #58b8a9;
  border-color: "";
}
.page-prefooter .subscribe-form .btn:hover, .page-prefooter .subscribe-form .btn:focus, .page-prefooter .subscribe-form .btn:active, .page-prefooter .subscribe-form .btn.active {
  color: #fff;
  background-color: #46a597;
}
.open .page-prefooter .subscribe-form .btn.dropdown-toggle {
  color: #fff;
  background-color: #46a597;
}
.page-prefooter .subscribe-form .btn:active, .page-prefooter .subscribe-form .btn.active {
  background-image: none;
  background-color: #3f9387;
}
.page-prefooter .subscribe-form .btn:active:hover, .page-prefooter .subscribe-form .btn.active:hover {
  background-color: #429a8d;
}
.open .page-prefooter .subscribe-form .btn.dropdown-toggle {
  background-image: none;
}
.page-prefooter .subscribe-form .btn.disabled, .page-prefooter .subscribe-form .btn.disabled:hover, .page-prefooter .subscribe-form .btn.disabled:focus, .page-prefooter .subscribe-form .btn.disabled:active, .page-prefooter .subscribe-form .btn.disabled.active, .page-prefooter .subscribe-form .btn[disabled], .page-prefooter .subscribe-form .btn[disabled]:hover, .page-prefooter .subscribe-form .btn[disabled]:focus, .page-prefooter .subscribe-form .btn[disabled]:active, .page-prefooter .subscribe-form .btn[disabled].active, fieldset[disabled] .page-prefooter .subscribe-form .btn, fieldset[disabled] .page-prefooter .subscribe-form .btn:hover, fieldset[disabled] .page-prefooter .subscribe-form .btn:focus, fieldset[disabled] .page-prefooter .subscribe-form .btn:active, fieldset[disabled] .page-prefooter .subscribe-form .btn.active {
  background-color: #58b8a9;
}
.page-prefooter .subscribe-form .btn .badge {
  color: #58b8a9;
  background-color: #fff;
}

.page-footer {
  background: #3b434c;
  color: #a2abb7;
}

/* Scroll Top */
.scroll-to-top > i {
  color: #657383;
  font-size: 32px;
  opacity: 0.7;
  filter: alpha(opacity=70);
}

/****
 CSS3 Spinner Bar
****/
.page-spinner-bar > div,
.block-spinner-bar > div {
  background: #5fbbad;
}


/***  
Pace - Page Progress
***/
.pace .pace-progress {
  z-index: 10000;
  top: 126px !important;
  height: 3px !important;
}

.pace .pace-progress-inner {
  box-shadow: none;
}

.pace .pace-activity {
  top: 128px;
  right: 22px;
  border-radius: 10px !important;
}


/* Page Container */
.page-container {
  clear: both;
}

.page-head {
  background: #fff;
}
.page-head .container {
  position: relative;
}
.page-head .page-title {
  display: inline-block;
  float: left;
  padding: 19px 0;
}
.page-head .page-title h1 {
  color: #697882;
  font-size: 22px;
  font-weight: 400;
  margin: 0;
}
.page-head .page-title h1 small {
  color: #9eacb4;
  font-size: 13px;
  font-weight: 400;
}
.page-head .page-toolbar {
  display: inline-block;
  float: right;
}

.breadcrumb {
  background: none;
  padding: 0 0 15px 0;
  margin: 0;
  color: #c5ccd5;
}

.breadcrumb > li + li:before {
  display: none;
}

.breadcrumb .fa {
  font-size: 6px;
  margin: 0 2px 0 4px;
  position: relative;
  top: -1px;
}

.breadcrumb > .active {
  color: #9eacb4;
}

.page-content {
  background: #eff3f8;
  padding: 15px 0 15px;
}

@media (max-width: 991px) {
  /* 991px */
  .page-head {
    background: #EFF3F8;
  }
  .page-head > .container {
    width: 100%;
    max-width: none !important;
    margin: 0 !important;
  }

  .page-content {
    padding-top: 0px;
  }
  .page-content > .container {
    width: 100%;
    max-width: none !important;
    margin: 0 !important;
  }
}
/* Pre-footer */
.page-prefooter {
  padding: 30px 0;
  clear: both;
}
.page-prefooter h2 {
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 0 12px;
}
.page-prefooter .subscribe-form {
  padding-top: 5px;
}
.page-prefooter .subscribe-form .form-control {
  font-size: 12px;
  padding: 0 14px;
  height: 36px;
}
.page-prefooter .subscribe-form .btn {
  height: 34px;
  text-transform: uppercase;
  padding: 7px 16px;
}
.page-prefooter .social-icons {
  padding-top: 9px;
}
.page-prefooter .social-icons li {
  opacity: 0.35;
  filter: alpha(opacity=35);
}
.page-prefooter .social-icons li:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.page-prefooter p,
.page-prefooter address {
  margin: 0;
}

/* Footer */
.page-footer {
  font-size: 12px;
  font-weight: 300;
  padding: 17px 0;
}

@media (max-width: 991px) {
  /* 991px */
  .page-prefooter {
    padding-bottom: 10px;
  }
  .page-prefooter .footer-block {
    margin-bottom: 20px;
  }
  .page-prefooter > .container {
    width: 100%;
    max-width: none !important;
    margin: 0 !important;
  }

  .page-footer > .container {
    width: 100%;
    max-width: none !important;
    margin: 0 !important;
  }
}
/* Scroll Top */
.scroll-to-top {
  padding: 2px;
  text-align: center;
  position: fixed;
  z-index: 10001;
  bottom: 5px;
  display: none;
  right: 20px;
}
.scroll-to-top > i {
  display: inline-block;
  font-size: 32px;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.scroll-to-top:hover {
  cursor: pointer;
}
.scroll-to-top:hover > i {
  opacity: 1;
  filter: alpha(opacity=100);
}

@media (max-width: 991px) {
  /* 991px */
  .scroll-to-top {
    right: 10px;
  }
  .scroll-to-top > i {
    font-size: 28px;
  }
}
/***
Theme Panel
***/
.btn-theme-panel {
  margin-top: 25px;
}
.btn-theme-panel .btn {
  opacity: 0.6;
  filter: alpha(opacity=60);
  padding: 0 6px;
}
.btn-theme-panel .btn > i {
  font-size: 24px;
  color: #acbac6;
}
.btn-theme-panel .btn:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.btn-theme-panel.open .btn {
  opacity: 1;
  filter: alpha(opacity=100);
}

.theme-panel {
  z-index: 999;
  min-width: 675px;
  padding: 20px 10px;
  font-family: "Open Sans", sans-serif;
}
.theme-panel h3 {
  margin: 8px 0 8px 0;
  font-size: 15px;
  padding-left: 12px;
}
.theme-panel .seperator {
  border-left: 1px solid #EFF2F4;
}
.theme-panel .theme-colors {
  list-style: none;
  padding: 0;
  margin: 0;
}
.theme-panel .theme-colors > li.theme-color {
  padding: 8px 12px;
}
.theme-panel .theme-colors > li.theme-color:hover, .theme-panel .theme-colors > li.theme-color.active {
  background: #f5f7f8;
}
.theme-panel .theme-colors > li.theme-color:hover {
  cursor: pointer;
}
.theme-panel .theme-colors > li.theme-color > .theme-color-view {
  float: left;
  margin-top: 0px;
  margin-right: 8px;
  display: inline-block;
  border-radius: 10px !important;
  height: 20px;
  width: 20px;
}
.theme-panel .theme-colors > li.theme-color > .theme-color-name {
  display: inline-block;
  color: #777;
  font-size: 14px;
  font-weight: 300;
  padding-top: -4px;
}
.theme-panel .theme-colors > li.theme-color.theme-color-default .theme-color-view {
  background: #4DB393;
}
.theme-panel .theme-colors > li.theme-color.theme-color-red-sunglo .theme-color-view {
  background: #E26A6A;
}
.theme-panel .theme-colors > li.theme-color.theme-color-red-intense .theme-color-view {
  background: #E35B5A;
}
.theme-panel .theme-colors > li.theme-color.theme-color-blue-hoki .theme-color-view {
  background: #67809F;
}
.theme-panel .theme-colors > li.theme-color.theme-color-blue-steel .theme-color-view {
  background: #4B77BE;
}
.theme-panel .theme-colors > li.theme-color.theme-color-green-haze .theme-color-view {
  background: #44B6AE;
}
.theme-panel .theme-colors > li.theme-color.theme-color-purple-plum .theme-color-view {
  background: #8775A7;
}
.theme-panel .theme-colors > li.theme-color.theme-color-purple-studio .theme-color-view {
  background: #8E44AD;
}
.theme-panel .theme-colors > li.theme-color.theme-color-yellow-orange .theme-color-view {
  background: #F2784B;
}
.theme-panel .theme-colors > li.theme-color.theme-color-yellow-crusta .theme-color-view {
  background: #F3C200;
}
.theme-panel .theme-settings {
  list-style: none;
  padding: 0;
  margin: 0;
}
.theme-panel .theme-settings > li {
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 300;
  color: #777;
}
.theme-panel .theme-settings > li .form-control {
  color: #777;
  margin-top: -3px;
  float: right;
}

@media (max-width: 767px) {
  /* 767px */
  .theme-panel {
    left: 20px;
    right: 20px;
    min-width: 285px;
  }
  .theme-panel .seperator {
    border: 0;
  }
  .theme-panel .theme-settings .form-control {
    width: 105px !important;
  }
}