<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
    <add key="api_url" value="http://localhost:5002/"/>
      <add key="register_missed_author_url" value ="api/missedAuthor/"/>
      <add key="create_author_url" value="api/author"/>
      <add key="create_saga_url" value="api/saga/"/>
      <add key="create_book_url" value="api/book/"/>
      <add key="livraddict_author_url" value="https://www.livraddict.com/biblio/auteur/"/>
      <add key="livraddict_base_url" value="https://www.livraddict.com"/>
  </appSettings>
</configuration>