<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
    <add key="api_url" value="http://localhost:5002/"/>
      <add key="register_missed_author_url" value ="missedAuthor/register/"/>
      <add key="create_author_url" value="author/create"/>
      <add key="create_saga_url" value="saga/create/"/>
      <add key="livraddict_author_url" value="https://www.livraddict.com/biblio/auteur/"/>
      <add key="livraddict_base_url" value="https://www.livraddict/"/>
  </appSettings>
</configuration>